.reveal h1,
.reveal h2,
.reveal h3,
.reveal p{
    text-shadow:
            1px 1px 0 #75726b,
            1px -1px 0 #75726b,
            -1px 1px 0 #75726b,
            -1px -1px 0 #75726b;
    color: white;
    transition: all 1s;
}

.reveal h1,
.reveal h1 ~ p{
    color: #52238b;
    text-shadow:
            1px 1px 0 #854ec7,
            1px -1px 0 #854ec7,
            -1px 1px 0 #854ec7,
            -1px -1px 0 #854ec7;
}

.reveal h1 ~ p{
    color: #7748af;
    text-shadow:
            1px 1px 0 #9a73c5,
            1px -1px 0 #9a73c5,
            -1px 1px 0 #9a73c5,
            -1px -1px 0 #9a73c5;
}

.reveal h3{
    margin-top: 50px;
}

.reveal p{
    font-size: 30px;
}

.reveal a{
    font-size: 25px;
    color: white;
}

.reveal .slide-number{
    right: 50%;
}

#section1{
    width: 100px;
    height: 100vh;
    background:hsl(222, 25%, 20%);
    position: absolute;
    z-index: -1;
}

.reveal ol{
    margin-bottom: 50px;
}
